main {
  min-height: 100vh;
}

h1 {
  padding: 0.1rem;
}

/* Products */
h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* Footer */
footer {
  background-color: #3e3f3a;
  color: white;
}
